 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Roboto;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 
  
  
 body{
     background-color: white;
     color: #ECECEC;
 }
 #container
 {
     width: 290px;
     height: 648px;
     margin: 5px auto;
     padding-top:16px;
     border-radius: 15px;
     background-color: #E5E5E5;
 }
 .button label{
     position: relative;
     cursor: pointer;
 }
 .button label input{
     display: none;
 }
 .druk{
     position: relative;
     display: inline-block;
     margin: 2px;
     margin-right: -1px;
     text-align: center;
     font-family: Roboto;
     font-weight: 500;
     width: 85px;
     height: 32px;
     padding: 6px;
     color: #969696;
     background-color: #E5E5E5;
     border-radius: 20px 0px 0px 20px ;
    }
.wycena{
     position: relative;
     display: inline-block;
     margin: 2px;
     font-family: Roboto;
     font-weight: 500;
     width: 85px;
     height: 32px;
     margin-left: -1px;
     padding: 6px;
     color: #969696;
     padding-left: 12px;
     border-radius: 0px 20px 20px 0px ;
       }
.button label input:checked ~ span {
        color: #ECECEC;
        background-color: #E1A303;
      }
#inDruk{
    position: absolute;
    color: #ECECEC;
    left: 38px;
    top: 82px;
    font-size: 13px;
    font-weight: 500;
      }
#inWycena{
        position: absolute;
        color: #ECECEC;
        left: 253px;
        top: 82px;
        font-size: 13px;
        font-weight: 500;
        }
.shapes {
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%; 
    padding: 10px 0px 0px 0px;
    width:260px;
    color:  #ECECEC;
    height:75px;
    margin:0px auto;
    background-color:#B7B7B7
}
.shapes h4{
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
}
.button{
    position: absolute;
    border-radius: 20px;
    margin: 0 auto;
    width: 176px;
    height: 36px;
    left: 62px;
    top: 78px;
    background-color: #E5E5E5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.conteainer5{
    width: 260px;
    height: 65px;
    padding: 2px 2px 2px 8px;
    margin: 2px auto;
    background-color: #B7B7B7;
}
.conteainer5 p{
    position: absolute;
    font-size: 9px;
    color:#ECECEC;
    top:430px;
    left: 52px;
}
.copybtn{
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background-color: #ECECEC;
    padding-bottom:4px;
    cursor: pointer;
    font-weight: bold;
    color: #9D9D9D;
    border: 1.5px solid #9D9D9D;
    border-radius: 5px;
}
.conteainer6{
    width: 260px;
    height: 80px;
    margin: 2px auto;
    background-color: #B7B7B7;
 }
 .conteainer6 .form{
     height: 25px;
     width: 211px;
     margin: 10px 0px 0px 10px;
     border: 1.5px solid #9D9D9D;
     border-radius: 5px;
     padding-left: 5px;
     background-color: #ECECEC;
 }
 .conteainer6 .form:disabled {
    background-color: #9D9D9D;
    color: #ECECEC; /*color of placeholder*/

}
input[type=radio] {
    display: none;
}

input[type=radio] + label {
    position: relative;
    cursor: pointer;
    margin: 5px;
    padding-left: 19px;
}
input[type=radio] + label:before {
    position: absolute;
    content: "";
    display: block; /* koniecznie element blokowy, aby móc nadać odpowiednie wymiary */
    width: 5px;
    height: 5px;
    top: 2.5px ; /* ustalamy pozycje */
    left: 2px;
    cursor: pointer; /* dodamy jeszcze odpowiedni kursor */
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    background-color:#B7B7B7;
    border: 4px solid #ECECEC;
    border-radius: 50%;
}
input[type=radio]:checked + label:before {
    /*background-color: #ffffff;*/
    border: 4px solid #E1A303;
    background-color: #ECECEC;
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    position: relative;
    margin:9px;
    padding-left: 5px;
}
input[type=checkbox] + label:before {
    position: absolute;
    content: "";
    display: block; /* koniecznie element blokowy, aby móc nadać odpowiednie wymiary */
    width: 6px;
    height: 6px;
    top: 2.5px ; /* ustalamy pozycje */
    left: 2px;
    cursor: pointer; /* dodamy jeszcze odpowiedni kursor */
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    background-color:#B7B7B7;
    border: 4px solid #ECECEC;
    border-radius: 50%;
}
input[type=checkbox]:checked + label:before {
    /*background-color: #ffffff;*/
    border: 4px solid #E1A303;
    background-color: #ECECEC;
}

 .conteainer7{
     width: 260px;
     height: 62px;
     border-radius: 0px 0px 15px 15px;
     margin: 2px auto;
     background-color: #B7B7B7;
 }
 .conteainer2
 {
    width: 260px;
    height: 90px;
    padding: 25px 30px 0px 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2px auto;
    margin-bottom: 0px;
    background-color: #B7B7B7;
 }
 .conteainer2 label{
     position: absolute;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10px;
     margin: 0px -55px;
 }
 .conteainer2 button{
     width: 66px;
     height: 30px;
     font-family: Roboto;
     cursor: pointer;
     font-weight: bold;
     color: #9D9D9D;
     margin: 6px 0px 0px 15px ;
     border: 1.5px solid #9D9D9D;
     border-radius: 5px;
 }
 .conteainer2 input{
        height: 25px;
        width: 60px;
        margin: 10px 0px 0px 18px;
        border: 1.5px solid #9D9D9D;
        border-radius: 5px;
        padding-left: 5px;
        background-color: #ECECEC;
    }
    .conteainer2 input:disabled, .conteainer2 button:disabled {
        cursor: default;
        background-color: #B7B7B7
    }
    input[type=radio]:disabled + label:before {
        /*background-color: #ffffff;*/
        border: 4px solid #B7B7B7;
        background-color: #ECECEC;
        cursor: auto;
    }
    input[type=radio]:disabled + label {
        /*background-color: #ffffff;*/
        cursor: default;
    }
    .conteainer6 .form:disabled {
       background-color: #B7B7B7;
       color: #ECECEC; /*color of placeholder*/
   
   }
 #conteainer4
 {
    width: 260px;
    height: 145px;
    margin: 2px auto;
    background-color: #B7B7B7;
    display: grid;
    padding-left: 11px;
    padding-top:10px;
    grid-template-columns: 33% 33% 33%;
 }

 #h5{
     color:rgb(32, 32, 32)
 }
 #closeFile{
    margin-top:10px
 }
.conteainer3{
font-size: 14px;
padding: 10px 5px 10px 25px;
width: 260px;
height: 90px;
margin: 0 auto;
background-color: #B7B7B7;
display: grid;
grid-template-columns: 35% 35%;
grid-template-rows: 20% 20% 20%;
grid-column-gap: 10%;
grid-gap: 15%;
}
 
.btn{
    position: relative;
    width: 74px;
    height: 26px;
    font-family: Roboto;
    background-color: #ECECEC;
    border:1.5px solid #9D9D9D;
    border-radius: 10px;
    color: #969696;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    background: rgb(255, 255, 255)
}
.btn:active{
    color: #ECECEC;
    background-color: #E1A303;
    border:1.5px solid #ECECEC;
}
.btn:focus{
    color: #ECECEC;
    background-color: #E1A303;
    border:1.5px solid #ECECEC;
}
input[class = 'check2'] {
    display: none;
}
input[class = 'check2'] + label {
    position: relative;
    top: 30px;
    left: -50px;
    font-size: 14px;
    font-weight: 400;
}
input[class = 'check2'] + label:before {
    position: relative;
    content: "";
    display: inline-block; /* koniecznie element blokowy, aby móc nadać odpowiednie wymiary */
    width: 5px;
    height: 5px;
    top: 3px ; /* ustalamy pozycje */
    left: 50px;
    cursor: pointer; /* dodamy jeszcze odpowiedni kursor */
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    background-color:#B7B7B7;
    border: 4px solid #ECECEC;
    border-radius: 50%;
}
input[class = 'check2']:checked + label:before {
    /*background-color: #ffffff;*/
    border: 4px solid #E1A303;
    background-color: #ECECEC;
}