 *{
     box-sizing: border-box;
 }
 body{
     background-color: white;
     color: #ECECEC;
     margin: 0px;
     padding: 0px;
 }
 #container
 {
     width: 290px;
     height: 648px;
     margin: 5px auto;
     padding-top:16px;
     border-radius: 15px;
     background-color: #E5E5E5;
 }
 input[class="select"]{
     -webkit-appearance: none;
 }
 .druk1 {
     display: block;
     width: 64px;
     height: 15px;
     border: 2px solid black;
     background-color:#E1A303
 }
.shapes {
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%; 
    padding: 0px 10px 0px 10px;
    width:260px;
    font-weight: normal;
    text-align: center;
    font-family: 'Arial', Times, sans-serif;
    line-height: normal;
    color:  #ECECEC;
    font-size: 10px;
    height:75px;
    margin:0px auto;
    background-color:#B7B7B7
}
.button{
    position: absolute;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    color:black;
    left: 61px;
    top: 77px;
    border: 2px solid #E5E5E5;
    background-color: #E5E5E5;
}
.conteainer5{
    width: 260px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    padding-left: 15px;
    margin: 2px auto;
    background-color: #B7B7B7;
}
.conteainer6{
    width: 260px;
    height: 80px;
    margin: 2px auto;
    background-color: #B7B7B7;
 }
 .copybtn{
     width: 21px;
     height: 21px;
     border-radius: 5px;
     background-color: #ECECEC;
 }
 .conteainer7{
     width: 260px;
     height: 62px;
     border-radius: 0px 0px 15px 15px;
     margin: 2px auto;
     background-color: #B7B7B7;
 }
 #conteainer2
 {
    width: 260px;
    height: 180px;
    padding: 30px 5px;
    margin: 2px auto;
    background-color: #B7B7B7;
    margin-left: auto;
    margin-right: auto;
 }
 #conteainer4
 {
    width: 260px;
    height: 185px;
    margin: 2px auto;
    background-color: #B7B7B7;
    padding: 12px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
 }

 #h5{
     color:rgb(32, 32, 32)
 }
 #box{
    margin-top:12px;
    position:relative;
    float: left;
 }
 #closeFile{
    margin-top:10px
 }
 #box2{
     position:relative;
     margin-left:-16px;
     margin-top: 40px;
     float: left;
}
#conteainer3{
display:grid;
grid-template-columns: 50% 50%
}
.form{
    width: 230px;
    margin-top: 7px
}
.form2{
    width: 100px;
}
 
.btn{
    position: relative;
    width: 70px;
    height: 25px;
    background-color: #ECECEC;
    border:1.5px solid #9D9D9D;
    border-radius: 10px;
    color: #969696;
    font-size: 11px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(255, 255, 255)
}